<a name="dropdown_find_shelter" class="dropdown-button btn red enter-index" href='#' data-activates='dropdown1'>Find Shelter</a>
<ul id='dropdown1' class='dropdown-content'>
  <%= render partial: "partials/location_dropdown_line_item", collection: @locations, as: "location" %>
</ul>
