<a class='dropdown-button btn red enter' href='#' data-activates='dropdown1'>Find Shelter</a>
<ul id='dropdown1' class='dropdown-content'>
  <li><a href="/locations/portland">Portland</a></li>
  <li class="divider"></li>
  <li><a href="/locations/san-francisco">San Francisco</a></li>
  <li class="divider"></li>
  <li><a href="/locations/los-angeles">Los Angeles</a></li>
  <li class="divider"></li>
  <li><a href="/locations/salt-lake-city">Salt Lake City</a></li>
  <li class="divider"></li>
  <li><a href="/locations/phoenix">Phoenix</a></li>
  <li class="divider"></li>
  <li><a href="/locations/denver">Denver</a></li>
  <li class="divider"></li>
  <li><a href="/locations/bismarck">Bismarck</a></li>
  <li class="divider"></li>
  <li><a href="/locations/kansas-city">Kansas City</a></li>
  <li class="divider"></li>
  <li><a href="/locations/dallas">Dallas</a></li>
  <li class="divider"></li>
  <li><a href="/locations/green-bay">Green Bay</a></li>
  <li class="divider"></li>
  <li><a href="/locations/chicago">Chicago</a></li>
  <li class="divider"></li>
  <li><a href="/locations/memphis">Memphis</a></li>
  <li class="divider"></li>
  <li><a href="/locations/new-orleans">New Orleans</a></li>
  <li class="divider"></li>
  <li><a href="/locations/detroit">Detroit</a></li>
  <li class="divider"></li>
  <li><a href="/locations/atlanta">Atlanta</a></li>
  <li class="divider"></li>
  <li><a href="/locations/charlotte">Charlotte</a></li>
  <li class="divider"></li>
  <li><a href="/locations/miami">Miami</a></li>
  <li class="divider"></li>
  <li><a href="/locations/washington-d-c">Washington, D.C.</a></li>
  <li class="divider"></li>
  <li><a href="/locations/new-york">New York</a></li>
  <li class="divider"></li>
  <li><a href="/locations/augusta">Augusta</a></li>
</ul>
