<tr class="duffel-table">
  <td class="center" id="admins-table">
    <%= store_admin.first_name %>
  </td>
  <td class="center" id="admins-table">
    <%= store_admin.last_name %>
  </td>
  <td class="center" id="admins-table">
    <%= store_admin.email %>
  </td>
  <td class="center" id="admins-table">
    <%= store_admin.store.name %>
  </td>
</tr>
