<div class="container center">
  <h1>Past Orders</h1>
</div>
<div class="order-container container">
  <table class="bordered highlight col s6 offset-s3">
    <thead>
      <tr class="duffel-table table-headers">
          <th class="center" data-field="date">Date</th>
          <th class="center" data-field="total">Total</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'partials/orders_index_table_item', collection: @orders, as: :order %>
    </tbody>
  </table>
</div>
