.background-image {
  background: url("parchment-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.hero-image {
  background: url("/assets/background-img.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.enter {
  font-family: "Impact Label Reversed";
  font-size: 45px;
  color: #C9D1D4;
  width: 400px;
  height: 75px;
  padding: 20px;
  position: absolute;
  top: 10%;
  left: 37%;
}

a.enter:hover {
  color: #424647;
}

.enter-index {
  font-family: "Impact Label Reversed";
  font-size: 45px;
  color: #C9D1D4;
  width: 400px;
  height: 75px;
  padding: 20px;
  position: absolute;
  top: 15%;
  left: 37%;
}

.locations-map {
  position: absolute;
  display: block;
  margin: auto;
  width: 66%;
  z-index: -1;
  top: 20%;
}

.locations-map-index {
  position: absolute;
  display: block;
  margin: auto;
  width: 66%;
  z-index: -1;
  top: 30%;
}

.bottom-anchor {
  position: absolute;
  bottom: 0%;
}

.special {
  position: relative;
  margin: auto;
  table, td, th {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  display: table-cell;
  line-height: 0;
  font-family: none;
  font-size: 0px;
  }
}

.map-container {
  position: absolute;
  margin: auto;
  top: 20%;
  left: 23%;
}

.map-container-index {
  position: absolute;
  top: 20%;
  left: 23%;
  box-shadow: 5px 5px 5px 5px #888888;
}

.dropshadow {
  box-shadow: 4px 4px 4px 4px #888888;
}

.locations-header {
  position: absolute;
  top: 8%;
  left: 45%;
}

.homepage-button {
  font-family: "Rough Typewriter";
  font-size: 25px;
}

li {
  font-family: "Rough Typewriter"
}
