<!-- <div class="container">
  <%= render partial: 'partials/location_dropdown_index', locals: {locations: @locations} %>
</div> -->
<!-- <div class="container">
  <img src="assets/US_Map_Whole.jpg" class="locations-map-index"/>
</div> -->
<div class="center">
  <h1>Locations</h1>
</div>
<div class="special">
  <%= render partial: 'partials/us_map' %>
</div>
