<div class="container">
  <div class="locations-header">
      <h1>Locations</h1>
  </div>

</div>
<div class="map-container-index">
  <div class="special">
    <%= render partial: 'partials/us_map' %>
  </div>
</div>
